/* Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  html {
    font-size: 10px;
    color: white;
  }

  * {
    box-sizing: border-box;
  }

  /* Fonts */

  @font-face {
    font-family: 'colaborate-bold';
    src: url('font/ColabBol-webfont.woff') format('woff'),
    url('font/ColabBol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }



  @font-face {
    font-family: 'colaborate-light';
    src: url('font/ColabLig-webfont.woff') format('woff'),
    url('font/ColabLig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'colaborate-medium';
    src: url('font/ColabMed-webfont.woff') format('woff'),
    url('font/ColabMed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }


  @font-face {
    font-family: 'colaborate-regular';
    src: url('font/ColabReg-webfont.woff') format('woff'),
    url('font/ColabReg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'colaborate-thin';
    src: url('font/ColabThi-webfont.woff') format('woff'),
    url('font/ColabThi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }


  #firstblock {
    background: #f0a4a5;
    background-image: url("image/pattern-grid.png"); /* fallback */
    background-image: url("img/pattern-grid.png"), linear-gradient(to right, #f0a4a5 0%, #dcc742 100%); /* W3C */
    height: 90vh;
    padding-top: 50px;


  }

  #secondblock {
  
    background-color: #9fbfbc;
  
  }


  #thirdblock {

    background-color: white;

  }




  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

  }



  .column {
    width: 85%;
    margin: 0 auto;

  }

  #inner-1 {
    height: 100%;
    position: relative;

  }



  h1 {
    font-family: 'colaborate-regular';
    font-size: 6rem;
    margin: 60px 0 40px 0;
  }

  .titoletto {
    font-family: 'colaborate-light';
    font-size: 3.5rem;


  }

  #arrow {
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left: -15px;

  }

  h2 {
    font-family: 'colaborate-medium';
    font-size: 4em;
    border-bottom: 0.2em solid white;


  }

  ul.lista-1 {
    list-style-image: url('img/freccia-bullet.svg');
    list-style-position: inside;
    margin-top: 40px;



  }

  ul.lista-1 li {
    font-family: Georgia, Serif;
    font-size: 1.8em;
    line-height: 2em;



  }

h3 {

  font-family: 'colaborate-light';
  color:#7d7d7d;
  font-size: 2.5em;
  text-align: center;

}

.block{

padding: 25px 0;
text-align: center;

}

h4 {

  font-family: 'Georgia, Serif';
  font-size: 2em;
  color: #707070;
  padding-top: 20px;
  padding-bottom: 15px;

}

p.attributes {
  font-family: 'colaborate-regular';
  font-size: 1.7em;
  color: #9fbfbc;


}







/* Desktop & Tablet */

@media only screen 
  and (min-width: 768px) { 

.block-container {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;




}









   }









