@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  color: white;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .noto-sans-500 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    @apply font-medium font-noto-sans;
  }
}

h1 {
  margin: 0 0 35px 0;
  @apply font-medium font-noto-sans;
}
h2 {
  border-bottom: 0.2em solid white;
  @apply font-medium font-noto-sans;
}

h2.dark {
  @apply text-brand-bordeaux border-brand-bordeaux;
}

h3 {
  color: #7d7d7d;
  text-align: center;
  @apply font-medium font-noto-sans;
}

section {
  @apply py-12;
}

.hidden {
  display: none;
}

#firstblock {
  background: rgb(91, 138, 160);
  background-image: url("/img/pattern-grid.png"); /* fallback */
  background-image: url("/img/pattern-grid.png"),
    linear-gradient(to right, rgb(137, 255, 215) 0%, rgb(91, 138, 160) 100%);
  height: 90vh;
  padding-top: 50px;
}

#secondblock {
  background-color: #304458;
}

#thirdblock {
  background-color: white;
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.column {
  margin: 0 auto;
  max-width: 900px;
  @apply w-5/6;
}

.column-wide {
  margin: 0 auto;
  max-width: 1200px;
  @apply w-11/12;
}

#inner-1 {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#inner-1 header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#arrow {
  margin: 20px auto 20px auto;
  cursor: pointer;
}

ul.lista-1 {
  list-style-image: url("img/freccia-bullet.svg");
  @apply text-lg list-inside;
}

ul.lista-1 li {
  font-family: Georgia, Serif;
  line-height: 2em;
}

.block img {
  @apply mb-4;
}

.portfolio-descr-text {
  display: block;

  @apply text-xl cursor-pointer text-brand-grey hover:underline font-noto-sans;
}

.portfolio-descr-skills {
  @apply text-lg font-light text-brand-teal font-noto-sans;
}

#fourthblock {
  background-color: #f0866c;
}

#fourthblock p {
  font-family: Georgia, Serif;
  padding: 0 0.7em 1em 0;
  color: white;
}

#fifthblock {
  background-color: #dcc842;
  padding-top: 0;
}

.image-wrapper {
  width: 100%;
  margin-bottom: 50px;
  height: 35vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position-y 0.5s;
}

#fifthblock .image-wrapper {
  background-image: url(img/what-i-love.jpg);
}

.button-enhanced {
  display: block;
  padding: 1em 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  margin: 1.5em 0;
  text-decoration: none;
  @apply text-2xl font-medium font-noto-sans;
}

.with-hover-effect {
  display: block;
  transition: all 0.3s;
  position: relative;
}

.with-hover-effect:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: height 0.3s;
}

.with-hover-effect:hover:after {
  height: 100%;
}

.button-lin {
  background-color: #9fbfbc;
}

.button-cv {
  background-color: #dcc842;
}

footer {
  margin-top: 100px;
}

/* Desktop & Tablet */
@media only screen and (min-width: 768px) {
  .block-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #firstblock {
    text-align: center;
  }

  .column--reduced {
    max-width: 35vw;
  }

  #fifthblock .image-wrapper {
    background-position-y: -180px;
  }

  #sixthblock .image-wrapper {
    background-position-y: -350px;
  }

  #logo {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 750px) and (orientation: landscape) {
  #logo {
    display: none;
  }

  #arrow {
    bottom: 80px;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 2%;
  }
}
